/* Landing Page */

#home{

	width: 100%;
	 background: url("../images/background.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#logo{
	height: 200px;
}

#header-logo {
	margin-top: -15px;
}

.home-logo-text a{
	border: 3px solid;
}

/* Why we started */
.started {
	margin-top: 40px;
}

/* Our Vision */

.subtitle{
	text-align: center;
	margin-top: 45px;
}

/* What we do */
.container .one-third.column.what-we-do {
	width: 300px;
}

.row.what-do {
	margin-bottom: 60px;
}

.what-we-do {
	margin-top: 40px;
}

.what-title {
	font-size: 25px;
}

.tech {
	padding: 16px 0px 16px;
}

.educational {
	padding: 3px 0px 3px;
	font-size: 24px;
}

.styled-list.education {
	margin-top: 27px;
}

.education-why {
	margin-top: 48px;
}

.service-box ul .education-li {
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.pvcchallenge {
	font-size: 21px;
	padding: 8px 0px 8px;
}

.styled-list.product-vision {
	margin-top: 20px;
}

.service-box ul .product-li {
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.innovation {
	font-size: 26px;
}

/* Our Mission */

.title.mission {
	padding: 17px;
	margin-bottom: 22px;
}

/* Our Events */
.title.events {
	margin-top: -20px;
	margin-bottom: 15px;
}

/* Our Team */

.highlight.execs {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Contact Box */

.contact-box {
	margin-top: -25px;
}

.parallax.contact {
	margin-bottom: 40px;
}

/* PVC logo */

.logo {
	display: inline-block;
}

.pvc {
	height: 80px;
	width: 60px;
}

@media only screen and (max-width: 767px) {
	.pvc {
		margin-top: -3px;
	}
}


/* Clients */

.client-logos {`
	display: inline;
	padding: 50px 0 20px;
}


.companies {
	padding-top: 20px;
	padding-bottom: 20px;
}

.container.greyclearfix.company {
	padding-top: 20px;
}

a.clients {
	position: relative;
	display: inline-block;
}

.bottom-company {
	padding-bottom: 62px;
	margin-bottom: -11px;
}

/* MailChimp */
  #mc_embed_signup {
  	background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; 
  }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    
.sixteen.columns.subscribe {
	text-align: center;
	height: 170px;
	background-color: #A57D55;
	margin-top: 80px;
}

.list {
	padding-top: 35px;
	color: white;
}

.close{
	z-index: 2000;
}

/* Fun facts */
.facts {
	text-align: center;
}

.title .impact {
	margin-top: 50px;
	margin-bottom: 50px;
}

.milestone-counter {
	text-align: center;
}
/* companies */
.companies {
	text-align: center;
}

.client-logos.sponsors {
	margin-bottom: 40px;
}

.bottom-partner {
	height: 50px;
}

/* Contact parallax */
h1.email {
	font-size: 350%;
}

h2.address {
	font-size: 300%;
}

h2.small-address {
	font-size: 250%;
}

/*.sixteen.columns.email {
	height: 300px;
	background-color: #003249;
	text-align: center;
}*/

/*Font change*/
body,.home-logo-text a{
	font-family: 'Roboto Slab', serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Montserrat', sans-serif;
}
/*Home logo*/
.home-logo-text a{
	border: 0;
	color:white;
}
#header-logo{
	height: 200px;
}

/*Email size reduced*/

.pvcteam{
	width: 400px;
	height: 400px;
}

/* Portfolio */
.portfolioImage {
	width: 400px;
	height: 400px;
}

.thumb-info {
	margin-top: 15px;
}

/* Our Team */

h3.ng-binding {
	font-size: 150%;
}

/* Contact Us */
.contact-us {
	margin-top: 20px;
}

/* Copyright */
.credits {
	text-align: center;
}

/* Gallery */
.project-media.mozilla {
	margin-top: 100px;
}

/* Verticals */
a.apply {
	color: #515A5F;
}

a.apply:hover {
	color: white;
}

.apply-vertical {
	margin-top: 20px;
}